@model EdPro.Models.LearningOutcome

@{
    ViewData["Title"] = "Create";
}

<h1>Додавання навчального результату</h1>

<h4>Навчальний результат</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LearningOutcome1" class="control-label"></label>
                <input asp-for="LearningOutcome1" class="form-control" />
                <span asp-validation-for="LearningOutcome1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Loname" class="control-label"></label>
                <input asp-for="Loname" class="form-control" />
                <span asp-validation-for="Loname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpecialityId" class="control-label"></label>
                <select asp-for="SpecialityId" class ="form-control" asp-items="ViewBag.SpecialityId"></select>
            </div>
            <p></p>
            <div class="form-group">
                <input type="submit" value="Додати" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


<div>
    <p class="text-danger">@ViewData["ErrorMessage"]</p>
</div>

<div>
    <a asp-action="Index"><button type="button" class="btn btn-secondary">Повернутися</button></a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
