@model EdPro.Models.EducationProgram

@{
    ViewData["Title"] = "Edit";
}

<h1>Редагування</h1>

<h4>Навчальна програма</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpecialityId" class="control-label"></label>
                <select asp-for="SpecialityId" class="form-control" asp-items="ViewBag.SpecialityId"></select>
                <span asp-validation-for="SpecialityId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Edbo" class="control-label"></label>
                <input asp-for="Edbo" class="form-control" />
                <span asp-validation-for="Edbo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EdPrTypeId" class="control-label"></label>
                <select asp-for="EdPrTypeId" class="form-control" asp-items="ViewBag.EdPrTypeId"></select>
                <span asp-validation-for="EdPrTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FacultyId" class="control-label"></label>
                <select asp-for="FacultyId" class="form-control" asp-items="ViewBag.FacultyId"></select>
                <span asp-validation-for="FacultyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImplementationDate" class="control-label"></label>
                <input asp-for="ImplementationDate" class="form-control" />
                <span asp-validation-for="ImplementationDate" class="text-danger"></span>
            </div>
            <p></p>
            <div class="form-group">
                <input type="submit" value="Зберегти" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <p class="text-danger">@ViewData["ErrorMessage"]</p>
</div>

<div>
    <a asp-action="Index"><button type="button" class="btn btn-secondary">Повернутися</button></a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
