@model EdPro.Models.CompetencesType

@{
    ViewData["Title"] = "Delete";
}

<h1>Видалення</h1>

<h3>Ви впевнені, що хочете видалити цей тип компетентності?</h3>
<div>
    <h4>Тип компетентності</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompType)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Видалити" class="btn btn-danger" />
        <a asp-action="Index"><button type="button" class="btn btn-secondary">Повернутися</button></a>
    </form>
</div>
