@model EdPro.ViewModel.ChangePasswordViewModel
@{
    ViewBag.Title = "Зміна пароля";
}
<h2>Зміна пароля для користувача @Model.Email</h2>
<div class="text-danger">@ViewBag.F</div>
<form asp-action="ChangePassword" asp-controller="User">
    <div asp-validation-summary="All" class="text-danger"></div>

    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="Email" />

    <div class="form-group">
        <label asp-for="NewPassword" class="control-label">Новий пароль</label>
        <input type="text" asp-for="NewPassword" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Зберегти" class="btn btn-outline-dark" />
    </div>
</form>