@model EdPro.Models.SpecialityCompetence

@{
    ViewData["Title"] = "Create";
}

<h1>Додавання компетентності до спеціальності</h1>

<h4>Компетентність</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
@*            <div class="form-group">
                <label asp-for="SpecialityId" class="control-label"></label>
                <select asp-for="SpecialityId" class ="form-control" asp-items="ViewBag.SpecialityId"></select>
            </div>*@
            <div class="form-group">
                <label asp-for="CompetenceId" class="control-label"></label>
                <select asp-for="CompetenceId" class ="form-control" asp-items="ViewBag.CompetenceId"></select>
            </div>

            <input type="hidden" value="@ViewBag.SpecialityId" name="SpecialityId" />

            <p></p>

            <div class="form-group">
                <input type="submit" value="Додати" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@*<div>
    <a asp-action="Index">Back to List</a>
</div>*@

<div>
    <p class="text-danger">@ViewData["ErrorMessage"]</p>
</div>

@Html.ActionLink("Повернутись","Index", new {id = ViewBag.SpecialityId, name = ViewBag.SpecialityName}, new { @class = "btn btn-secondary" })

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
